    * {
        margin: 0px;
        padding: 0px;
    }

    .orange-row1 {
        display: flex;
        gap: 10px;
        margin: 10px;
        align-items: stretch;
    }

    .orange-row1 div {
        background-color: orange;
        flex: 50%;
        min-height: 50px;
    }

    .yellow-row2 {
        background-color: rgb(123, 40, 40);
        height: fit-content;
        margin: 10px;
        /* word-break: break-all ; */
        /* opacity: 0.3; */
    }

    .blue-row3 {
        display: flex;
        gap: 10px;
        margin: 10px;

    }

    .blue-row3 div {
        flex: 33%;
        background-color: blue;
        height: 320px;

    }

    .brown-row4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 10px;

    }

    .brown-row4 div {
        flex: 25%;
        background-color: rgb(190, 187, 183);
        height: 100px;

    }

    @media screen and (max-width: 768px) {
        .orange-row1 {
            flex-direction: column;  /* makes 2 rows */
        }

        .orange-row1 div {
            width: 100%;
            height: fit-content;
            /* full width */
        }

        /* yello for row 2 */
        .yellow-row2 {
            flex-direction: column;
            background-color: red;
            /* word-break: break-all;*/
            height: fit-content;
        }

        /*blue */
        .blue-row3 {
            flex-direction: column;
        }

        .blue-row3 div {
            flex: 100%;
        }

        .brown-row4 {
            /* flex-direction: column; */
            grid-template-columns: repeat(2, 1fr);
        }

        .brown-row4 div {
            background-color: aqua;
            /* grid-template-columns: repeat(2, 1fr); */

        }

    }

    @media (max-width: 360px) {
        .brown-row4 {
            grid-template-columns: 1fr;
        }
    }